﻿.pagination a {
  list-style: none;
  padding: 6 6px; margin: 0;
  margin: 5px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px #3b636e, 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#pagi {
    padding: 1%;
    width: 100%;
}
